{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Задачи</h1>
    <p><a href="/tasks/add/">Добавить задачу</a></p>
        {% for i in tasks %}
            <div class="task">
                <h3>{{ i.pk }}  {{ i.description }}</h3>
                <p>Статус: {{ i.get_status_display }}</p>
                <p class="date">{{ i.date }}</p>
                <a id="delete" href="delete/{{i.pk}}">Удалить</a>
            </div>
        {% endfor %}
    <p><a href="/tasks/add/">Добавить задачу</a></p>
</div>
</body>
</html>
